{% extends "base.html" %} {% block title %}Add{% endblock %} {% block content
    %}

    <h1 align="center">Add Songs</h1>
    <form class="form-inline my-2 my-lg-0" method="GET">
      <h3>
        Search by Artist
      </h3>
      <input align="center" class="form-control mr-sm-2" type="search" placeholder="Artist" name="song">
      <h3>
        Search by Playlist
      </h3>
      <input align="center" class="form-control mr-sm-2" type="search" placeholder="Playlist URI" name="song">
      <input align="center" class="form-control mr-sm-2" type="search" placeholder="Creator URI" name="song">
      <h3>
        Search by Personal Playlist
      </h3>
      <input align="center" class="form-control mr-sm-2" type="search" placeholder="Playlist URI" name="song">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

{% endblock %}