{% extends "base.html" %} {% block title %}Recommendations{% endblock %} {% block content
    %}
    <h1 align="center">Recommened</h1>

    <button  align="center" class="btn btn-outline-success my-2 my-sm-0" type="submit">Reccomend Me!</button>
    


    <table>
        <thead>
          <tr>
            <th>Songs to Check out!</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              ________________________________________________________________
              {% for qs in songs %}
              <li>
                <p><em>Title:</em> {{qs.name}}</p>
                <p><em>Artist:</em> <mark>{{qs.artist}}</mark>
      
                <form action="/" METHOD="POST">
                  <button name="rereaction" type="submit" class="btn btn-outline-primary" value = "like{{qs.id}}" >Like</button>
                </form>
      
                <form action="/" METHOD="POST" text-align="right">
                  <button name="rereaction" type="submit" class="btn btn-outline-danger" value = "dislike{{qs.id}}">Dislike</button>
                </form>
      
                </p>
                <p><em>Album:</em> {{qs.album}}</p>
              </li>
              {% endfor %}
            </td>
            
          </tr>
        </tbody>
      </table>
    {% endblock %}